* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  margin-top: 10rem;
}

.buttons2 {
  margin-top: 2rem;
}

button {
  font-size: 2rem;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

#lightbulb {
  font-size: 40rem;
}

.lightbulb-blue {
  color: blue;
  text-shadow:    
  0 0 250px blue,
  -10px 0 80px lightblue,
  10px 0 80px lightblue;
}

.lightbulb-red {
  color: red;
  text-shadow:    
  0 0 250px red,
  -10px 0 80px lightcoral,
  10px 0 80px lightcoral;
}

.lightbulb-green {
  color: green;
  text-shadow:    
  0 0 250px green,
  -10px 0 80px greenyellow,
  10px 0 80px greenyellow;
}